body
{
notbackground-color: rgb(255,255,255);
color: rgb(0,0,0);
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 12px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
margin: 0px;
padding: 0px;

}

#menu
{
	
	font-size: 14px;
	padding: 10px;
	padding-top: 20px;
}

#menu a
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	border: 1px solid white;
	color: #FFFFFF;
	text-decoration: none;
}

#menu a:active
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	border: 1px solid white;
	color: #000000;
	background-color: #FFFFFF;
	text-decoration: none;
}

#content
{
	position: absolute;
	top: 110px;
	width: 100%;
	padding: 10px;
	padding-left: 15px;
	
}

#overview
{
	position: absolute;
	top: 100px;
	width: 100%;
	padding: 10px;
	padding-left: 15px;
	
}


#content td
{
	padding-right: 10px;
	font-size: 14px;
}

#gputemp td
{
	padding-right: 30px;
	font-size: 14px;
}

#liveres
{
	padding: 0px;
}

#liveres td
{
	font-size: 12px;
}

#statusmsg
{
	padding: 0px;
}

.riggpu
{
	font-size: 12px;
}

.tdhdr
{
	padding-right: 20px;
	font-weight: bold;
}

.topborder
{

	padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 25px;
	
}

.topborderstatusleft
{
	padding: 0px;
	padding-right:7px;
	margin: 0px;
	padding-bottom: 20px;

}

.topborderstatusright
{
	padding: 0px;
	padding-left:0px;
	padding-right:30px;
	margin: 0px;
	padding-bottom: 20px;
}

table
{
	border-collapse:collapse;
}

h1
{
 font-family: "Trebuchet MS", Helvetica, sans-serif;
 font-size: 18px;
  padding: 0px;
 margin: 0px;
}

h2
{
 font-size: 14px;
 padding: 0px;
 margin: 0px;
}

h3
{
 font-size: 16px;
}

h4
{
 font-size: 14px;
}

h5
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}


#liveheader
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 65px;
	padding: 10px;
	padding-top: 5px;
	color: rgb(255,255,255);
	
	 margin: 0px;
	 background-color: #000;	
}



#liveheader img
{
	padding-top: 0px;
}

#liveheader td
{
	padding-right: 30px;
	vertical-align: top;
	font-size: 12px;
	color: rgb(255,255,255);
}


#liveheader #overviewhash
{
	vertical-align: middle;
}

#tabcontainer{position:absolute; top: 73px; color:#000;background:#000;width:100%;font-family:Helvetica,Arial,Verdana,sans-serif;  z-index: 1;}

#tabnav{position:relative;height:33px;font-size:12px;text-transform:uppercase;font-weight:bold;background:#000 url(/images/autoconf_tabbg.gif) repeat-x bottom left;padding:0 0 0 20px;}

#tabnav ul{margin:0;padding:0;list-style-type:none;width:auto;float:left;}

#tabnav ul li{display:block;float:left;margin:0 1px;}

#tabnav ul li a{display:block;float:left;color:#EAF3F8;text-decoration:none;padding:0 0 0 0;height:33px;}

#tabnav ul li a span{padding:12px 20px 0 20px;height:21px;float:left;}

#tabnav ul li a:hover{color:#000;background:#AAAAAA; }

#tabnav ul li a.current:hover{color:#000;background:#FFFFFF; }

#tabnav ul li a.current span{padding:12px 20px 0 20px;height:21px;float:left;color: #000; background:#FFFFFF; }

#tab_inner{color: #000; padding: 5px; font-size: 80%; height: 1em}

#tab_inner a:link, #tab_inner a:visited, #tab_inner a:active{color: white}


.innercontent{display: none;}

