body
{
background-color: rgb(255,255,255);
color: rgb(0,0,0);
font-family: "Trebuchet MS", Helvetica, sans-serif;
notfont-family: Tahoma, Geneva, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
margin: 0px;
padding: 0px;
}

#waiting
{
 background-color: rgb(245,245,215);
 padding: 30px;
 margin: 30px;
 position: absolute;
 top: 120px;
}

#content
{
 background-color: rgb(255,255,255);
 padding: 10px;
 margin: 0px;
 vertical-align: top;
 position: absolute;
 top: 100px;
 
}

a
{
 color: #000000;
}

#content table
{
	border: 0px;
	border-collapse:collapse;
}


#content td
{
	background-color: rgb(255,255,255);

	padding: 5px;
	vertical-align: top;
}

#content td.locsum
{
	background-color: rgb(255,255,255);
	border: 0px;
	padding: 10px;
	vertical-align: top;
}

#content td.node
{
	background-color: rgb(255,255,255);
	border: 0px;
	padding: 20px;
	vertical-align: top;
}


#content td.gpudata
{
	background-color: rgb(255,255,255);
	border: 0px;
	padding: 5px;
	vertical-align: top;
}


#content td.lochdr
{
	background-color: rgb(245,245,215);
	border: 0px;
	padding: 5px;
	
	vertical-align: top;
}


.nogpudata
{
	vertical-align: middle;
	padding: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
}


.gpudata
{
	vertical-align: top;
	padding: 0px;
}

.gpudata table
{
	border-collapse:collapse;
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}



.gpudata td
{
	padding: 0px;
	padding-left: 10px;
	border: 1px solid #bbbbbb;
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
}

#content td.ghdr
{
	vertical-align: top;
	
	color: rgb(255,255,255);
	background-color: rgb(80,80,80);
	
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	
}

#content td.error
{
	color: rgb(0,0,0);
	background-color: rgb(255,80,80);

	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	
}

#content td.blank
{
	background-color: rgb(200,200,200);
	border: 0px;
	margin: 0px;
	padding: 0px;
	height: 1px;
}

#content td.space
{
	border: 0px;
	margin: 0px;
	padding: 0px;
	height: 30px;
}

#overview
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 68px;
	padding: 10px;
	padding-top: 5px;
	color: rgb(255,255,255);
	 z-index: 1;
	
	
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, top, bottom, from(#101010), to(#606060));
  
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(top, #101010, #606060);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #101010, #606060);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #101010, #606060);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #101010, #606060);
  
  background-color: #222222;	
}



#overview img
{
	padding-top: 3px;
}

#overview td
{
	padding-right: 30px;
	vertical-align: top;
	text-wrap: none;
	color: rgb(255,255,255);
	
}


#overview #overviewhash
{
	vertical-align: middle;
	text-wrap:none;
}


h1
{
 font-family: "Trebuchet MS", Helvetica, sans-serif;
 font-size: 18px;
}

h2
{
 font-size: 14px;
}

h3
{
 font-size: 12px;
}

h4
{
 font-size: 10px;
}

h5
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
}
